body {
  margin: 0;
  padding: 0;
}

/*flex item*/
.box {
  color:white;
  text-align: center;
  flex: 1;
}

.flex-container {
  display: flex;
}

.box1 {
  background: #1abc9c;
}

.box2 {
  background: #2ecc71;
  flex: 2;
}

.box3 {
  background-color: #3498db;
  flex: 3;
}

.box4 {
  background-color: #9b59b6;
}

.box5 {
  background-color: #34495e;
}

.box6 {
  background-color: #f1c40f;
}

.box7 {
  background-color: #e67e22;
}

.box8 {
  background-color: #e74c3c;
}

.box9 {
  background-color: #16a085;
}

.box10 {
  background-color: #8e44ad;
}
