.flex-container {
  display: flex;
  border: solid 10px #f1c40f;
  height: 100vh;
  justify-content: center;
  /*align-content: center;*/
  flex-wrap: wrap;

}

.flex-item {
  font-size: 50px;
  text-align: center;
  margin: 10px;
  width: calc(33.333% - 20px);
}

.item1 {
  width: 300px;
  background-color: #1abc9c;
}

.item2 {
  width: 300px;
  background-color: #2ecc71;
}

.item3 {
  flex: 3;
  width: 300px;
  background-color: #3498db;
}
